button {
        background-color: black; /* Cor de fundo */
        color:white; /* Cor da letra */
        padding: 5px 10px; /* Tamanho do botão */
        border: none; /* Sem sombra */
        border-radius: 15px; /* Curvatura da borda */
        cursor: pointer;
    }

    button:hover {
        background-color: royalblue; /*Escurece ao passar o mouse */
    }